@{
    ViewData["Title"] = "Rules of game";
}
<h1>@ViewData["Title"]</h1>

<p>
    <a>The playing field consists of 9 squares (3 x 3).
    <br>
    The teams choose the game sector.
    <br>
    A question is asked and one minute is given for reflection.
    <br>
    If the team gives the correct answer, it has the right to put a sign (a cross or a zero) in the selected square.
    <br>
    If the team answers incorrectly, then the opposing team gets the right to put its mark in the selected square.
    <br>
    The game takes turns and lasts up to three crossed-out characters</a>.
</p>
